@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap");

html,
body {
  height: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

h1 {
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

.col-image {
  padding: 0;
}

.container {
  width: 800px;
  height: auto;
  margin: auto;
  border: 1px solid black;
  background-color: white;
}

.image-container {
  width: 100%;
  background-color: red;
}

.fashion-model {
  width: 100%;
  height: auto;
}

form {
  margin: auto;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  flex-direction: column;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signup input {
  margin-top: 10px;
  border-radius: 8px;
}

.form-signup input {
  text-indent: 20px;
}

.form-signup input::placeholder {
  font-size: 14px;
}

.form-signup button {
  margin-top: 10px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #000;
}

.form-signup .form-control:focus {
  z-index: 2;
}

@media (max-width: 990px) {
  .col-image {
    display: none;
  }
}
